<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598809354707-gs27d2ce6g5e9hbkqf0i5l5b76ua2kvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598809354707-gs27d2ce6g5e9hbkqf0i5l5b76ua2kvr</string>
	<key>API_KEY</key>
	<string>AIzaSyDqlujoij8D-uFn1RxAZX-VOeSE4wEKZEY</string>
	<key>GCM_SENDER_ID</key>
	<string>598809354707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reportio</string>
	<key>PROJECT_ID</key>
	<string>reportio-fc523</string>
	<key>STORAGE_BUCKET</key>
	<string>reportio-fc523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598809354707:ios:e9451b5e0b02b196a40f26</string>
</dict>
</plist>